

<div class="card m-2">
  <h2 class="card-header bg-primary text-white p-1 m-0">Profesores</h2>
<!-- app.component.html -->
<!-- En tu template que contiene el botón "Agregar Profesor" -->

<button class="btn btn-success" (click)="abrirAgregarEditarProfesorModal()">Agregar Profesor</button>

<div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="table-primary">Nombre</th>
          <th class="table-primary">Apellido</th>
          <th class="table-primary">Genero</th>
          <th class="table-primary">Acciones</th> <!-- Nuevo encabezado para botones de acciones -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of profesores; let i = index" [ngClass]="{'table-blue-row': i % 2 === 0, 'table-white-row': i % 2 !== 0}">
          <td>{{ profesor.nombre }}</td>
          <td>{{ profesor.apellido }}</td>
          <td>{{ profesor.genero }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarProfesor(profesor.Id)">Eliminar</button>
            <button class="btn btn-success" (click)="abrirEditarProfesorModal(profesor)">Editar Profesor</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Alumnos -->
<div class="card m-2">
  <h2 class="card-header bg-primary text-white p-1 m-0">Alumnos</h2>
  <button class="btn btn-success" data-toggle="modal" data-target="#agregarProfesorModal">Agregar Alumnos</button>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="table-primary">Nombre</th>
          <th class="table-primary">Apellidos</th>
          <th class="table-primary">Genero</th>
          <th class="table-primary">Fecha de Nacimiento</th>
          <th class="table-primary">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos; let i = index" [ngClass]="{'table-blue-row': i % 2 === 0, 'table-white-row': i % 2 !== 0}">
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellidos }}</td>
          <td>{{ alumno.genero }}</td>
          <td>{{ alumno.fechaNacimiento }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarAlumno(alumno.id)">Eliminar</button>
      

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Grados -->
<div class="card m-2">
  <h2 class="card-header bg-primary text-white p-1 m-0">Grados</h2>
  <button  class="btn btn-success" data-toggle="modal" data-target="#agregarProfesorModal">Agregar Grados</button>
  <div class="card-body"> 
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="table-primary">Nombre</th>
          <th class="table-primary">Profesor Asignado</th>
          <th class="table-primary">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grado of grados; let i = index" [ngClass]="{'table-blue-row': i % 2 === 0, 'table-white-row': i % 2 !== 0}">
          <td>{{ grado.nombre }}</td>
          <td>{{ grado.profesorId }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarGrado(grado.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Alumnos en Grados -->
<div class="card m-2">
  <h2 class="card-header bg-primary text-white p-1 m-0">Alumnos en Grados</h2>
  <button class="btn btn-success" data-toggle="modal" data-target="#agregarProfesorModal">Agregar en Grados</button>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="table-primary">Alumno</th>
          <th class="table-primary">Grado</th>
          <th class="table-primary">Sección</th>
          <th class="table-primary">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumnoGrado of alumnosGrado; let i = index" [ngClass]="{'table-blue-row': i % 2 === 0, 'table-white-row': i % 2 !== 0}">
          <td>{{ alumnoGrado.alumnoId }}</td>
          <td>{{ alumnoGrado.gradoId }}</td>
          <td>{{ alumnoGrado.seccion }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarAlumnoGrado(alumnoGrado.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

